@import url(https://fonts.googleapis.com/css?family=Lora&subset=latin,latin-ext);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora';
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  font-feature-settings: "kern", "liga", "pnum";
  color: #333;
  margin: 0;
}
