.post {
  padding: 1rem 0 0 1rem;
}

.title {
  padding: 0;
  margin: 0;
}

.date {
  padding: 0;
  margin: $base-font-size*0.2 0 0 0;
  font-size: $base-font-size*0.8;
}

@media (min-width: 955px) {
  .post {
    padding: 2rem 25rem 0 25rem;
  }
}
