@import url('light_syntax.css');
@import url('dark_syntax.css') (prefers-color-scheme: dark);

.post {
  padding: 1rem 1rem 1rem 1rem;
  word-wrap: break-word;
}

.title {
  padding: 0;
  margin: 0;
}

.date {
  padding: 0;
  margin: $base-font-size*0.2 0 0 0;
  font-size: $base-font-size*0.8;
}

pre {
  overflow-x: scroll;
}

div.highlight {
  margin: 0;
  padding: 0.6em;
  position: relative;
}
div.highlight pre {
  margin: 0;
}

img {
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;

  min-width: 100%;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}

div.highlight pre::before {
  color: var(--dim-text-color);
  content: attr(class);
  font-family: var(--cursive-font), cursive;
  font-size: 0.8em;
  position: absolute;
  right: 0.3em;
  top: -0.3em;
}

@media (min-width: 955px) {
  .post {
    padding: 2rem 25rem 0 25rem;
  }
}
