.split
  %section.hero-photo{:title => "That's me!"}
  %section.hero-description
    %h1 Michał Zając
    %p I am a software engineer.
    %p I love Ruby. I usually work with Ruby on Rails.
    %p I am also proficient with Sinatra, Roda, Hanami and Padrino.
    %p This doesn't mean I don't work with other languages!
    %p Apart from working at <a href="https://www.applover.pl/">Applover</a> I <a href="https://github.com/Quintasan">contribute</a> to open source software.
    %p I try to maintain a #{link_to "blog", "/blog.html"}. I also tend to shitpost on <a href="https://twitter.com/michal_q_zajac">Twitter</a>.
    %p I studied at <a href="http://wiz.pwr.edu.pl/en/">Wrocław University of Technology</a>.
    %p You can ask me about machine learning or quantum cryptography.
    %p Apart from that I consume a lot of books, manga, anime and games.
    %p I also do skateboarding, stock trading, translations and many other things.
    %p In near future I want to start a publishing company.
    %p I want to try my hand at painting.
    %p You can reach me at michal.zajac@<span style="display: none">plsnospam</span>gmail.com.
