---
title: Photography
---

%section
  %h1 Photos
  %p Hopefully, at some point, I'll get around to making a framework for photo galleries with GPS metadata.
  %p You can take a look at my <a href="https://www.instagram.com/ustawwszystkonarandom>">Instagram</a> for now.

%section
  %h1 My favourite photo
  %p Here's a photo of Mount Fuji I took when I went to Japan in 2023
  %img(src="fujisan-full.jpg")
