---
title: Talks
---

%p I have given talks on different, usually IT related, subjects. Here's a (hopefully) up-to-date list of them along with links to slides (and videos if they have been recorded):
%ul
  %li How to survive on the internet - <a href="https://www.facebook.com/events/2228656160717853">30th September 2018</a>
  %li Homomorphic encryption in neural networks - <a href="https://www.facebook.com/events/152581882084845">24th April 2018</a>
  %li Git 101 - <a href="https://www.facebook.com/events/101340417015696/">23rd November 2016</a>
  %li Haskell in Ruby - <a href="https://youtu.be/DgphJ_sYFMM?t=8m4s">11th March 2016</a>
  %li Vagrant - development environments - <a href="https://www.facebook.com/events/806419489405080">25th March 2015</a>
